# the important key
secrets.py

#pycache
*__pycache__
*.pyc

# uwsgi ini
--ini

#static files
api/static/*
!*api/static/readme.txt

*.json.gz
*.json

# exclude everything
api/core/migrations/*

# exception to the rule
!api/core/migrations/__init__.py
