# the important key
secrets.py

#pycache
*__pycache__
*.pyc


# uwsgi ini
--ini

#static files
backend/static/

#frontend modules cache
frontend/node_modules/.cache/babel-loader/
frontend/node_modules/.cache/vue-loader/
*.json.gz


# exclude everything
backend/core/migrations/
# exception to the rule
!backend/core/migrations/__init__.py
© 2021 GitHub, Inc.
