[mysqld]
user=mysql
default-storage-engine=INNODB
init_connect='SET collation_connection = utf8_unicode_ci'
init_connect='SET NAMES utf8'
character-set-server=utf8
collation-server = utf8_unicode_ci # 儲存中文字
skip-character-set-client-handshake

port            = 3306
#bind-address= localhost #一定要注释掉，mysql所在容器和django所在容器不同IP
 
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
skip-name-resolve  # 这个参数是禁止域名解析的，远程访问推荐开启skip_name_resolve。
 
[client]
port = 3306
default-character-set=utf8
 
[mysql]
no-auto-rehash
default-character-set=utf8
